* {
    // scroll-behavior: smooth;
    // box-sizing: border-box;
}
body{
    background-attachment: fixed !important;
    
    background-color: rgb(0, 0, 0);
    background-image: url(../img/jc.jpg) !important;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
}
/*--/header --*/

header{
   
    &.banner_section {
        width: 100vw;
        height: 100vh;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
}

button{
    &.btn.login-btn {
        padding: 8px 24px;
        background: #037ef3;
        color: #fff;
        border: none;
        font-size: 0.9em;
        letter-spacing: 1px;
    }
    &.btn.login-btn:hover {
        background: #ffc107;
        color: #0e0d0d;
    }
}



/*** Navigation Styles ***/

nav{
    &.navigation {
        width: 100%;
        height: 100px;
        background: none;
         display: grid;
        grid-template-columns: 1fr 1fr;
        position: fixed;
        top: 0;
        z-index: 10;
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
        &.navShadow {
            -webkit-box-shadow: 0 4px 30px -5px rgba(0, 0, 0, 0.2);
            box-shadow: 0 4px 30px -5px rgba(0, 0, 0, 0.2);
            height: 80px;
            
            background: #1c1d21;
            & .nav-honey {
                width: 100vw;
                & li a{
                    color: rgb(255, 255, 255);
                }
            }
            & #word-mark {
                color: rgb(255, 255, 255);
            }
        }
    }
    &.navShadow #word-mark {
        // opacity: 0;
        color: #037ef3;
        font-weight: 900;
    }
}



#brand,
#menu,
ul.nav-honey {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

#brand {
    padding-left: 40px;
    float: left;
    width: 20%;
}

#logo {
    width: 55px;
    height: 55px;
    background: #006cd1;
    border-radius: 50%;
    cursor: pointer;
    & a i {
        font-size: 2em;
        text-align: center;
        display: block;
        line-height: 1.7;
        color: #fff;
    }
}

#word-mark {
    width: 120px;
    border-radius: 90px;
    margin-left: 8px;
    opacity: 1;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    & h1 a {
        color: #fff;
        font-size: 1em;
        text-transform: uppercase;
        font-weight: 600;
        line-height: 0;
        letter-spacing: 1px;
        font-family: 'Roboto', sans-serif;
    }
    
}


/***  Styles ***/

#menu {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding-right: 40px;
    float: right;
    width: 80%;
}

.nav-honey li {
    margin-left: 20px;
    list-style: none;
    & a {
        background: none;
        display: block;
        color: rgb(0, 0, 0);
        font-size: 0.9em;
        font-weight: 900;
        line-height: 28px;
        letter-spacing: 2px;
        text-transform: uppercase;
        padding: 0.5em;
    }
}


#menu-toggle {
    width: 55px;
    height: 55px;
    background: #037ef3;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    display: none;
    &:hover .bar {
        width: 25px;
    }
    &.closeMenu .bar {
        width: 25px;
        &:first-child {
            -webkit-transform: translateY(7px) rotate(45deg);
            transform: translateY(7px) rotate(45deg);
        }
        &:nth-child(2) {
            -webkit-transform: scale(0);
            transform: scale(0);
        }
        &:last-child {
            -webkit-transform: translateY(-7px) rotate(-45deg);
            transform: translateY(-7px) rotate(-45deg);
        }
    }
}

.bar {
    width: 25px;
    height: 2px;
    background: #fff;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    &:nth-child(2) {
        width: 20px;
        margin: 5px 0;
    }
    &:last-child {
        width: 15px;
    }
}

.animation-center {
    -webkit-transition: all 3.3s;
        transition: all 2.3s;
}
.scroll{
    color: #000;
}
/*--/banner--*/


// parte de la nieve
.snow-container {
    position: absolute;
    height:100%;
    width: 100%;
    overflow: hidden;
    max-width: 100%;
    top: 0;
    z-index:9;
    pointer-events: none;

    overflow: hidden;
    &.two {
        height: 440px;
    }
}
  
.snow {
    display: block;
    position: absolute;
    z-index:99;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    pointer-events: none;
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
    -webkit-animation: snow linear infinite;
            animation: snow linear infinite;
    &.foreground {
        background-image: url("../img/1.png");
        
        -webkit-animation-duration: 15s;
                animation-duration: 15s;
    }&.foreground.layered {
        -webkit-animation-delay: 7.5s;
                animation-delay: 7.5s;
        }
    &.middleground {
        background-image: url(../img/2.png);
        -webkit-animation-duration: 20s;
                animation-duration: 20s;
        &.layered {
            -webkit-animation-delay: 10s;
                    animation-delay: 10s;
        }
        & .snow.background {
            background-image: url(../img/3.png);
            -webkit-animation-duration: 30s;
                    animation-duration: 30s;
            }
    }
    &.background.layered {
        -webkit-animation-delay: 15s;
                animation-delay: 15s;
    }
}


@-webkit-keyframes snow {
0% {
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
}
100% {
    -webkit-transform: translate3d(15%, 100%, 0);
            transform: translate3d(15%, 100%, 0);
}
}

@keyframes snow {
0% {
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
}
100% {
    -webkit-transform: translate3d(15%, 100%, 0);
            transform: translate3d(15%, 100%, 0);
}
}

#sec-study{
    
    overflow: hidden;
    & .study{
        
        & .study-information{
            
            font-size: .85rem;
            font-weight: bold;
        }
        & .study-img-container{
                width: 100%;
                height: auto;
            & .img1{
                width: 100%; 
                border-radius: .75rem;
            }
            

        }
}

}

.cardJC {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.75rem;
    & .card-columnsJC{
        margin-bottom: 0.75rem;
    }
  }

  .bg-trans{
    background: rgba(255, 255, 255, 0) !important;
    border: none;
    overflow: hidden;
}

#sec-abilities{
    position: relative;
    & .abilities img{
        width: 100%;
    }
}


/*incio de de estilos la parte de contacto*/
.contact-title{
    font-size: 5rem;
    color: #0041b9;
    // padding-top: 35%;
}
.form-contact{
    background-color: #000;
    border-radius: 1.2em;
    padding: 2.5rem ;
    color: #fff !important;
    & h2 {
        padding-bottom: 2rem;
    }
}
.form {
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 1em;
    margin-bottom: 25px;
    font-size: 1.5rem ; 
    color: #01e43a !important;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
    background: none;
    outline: 0;
    box-shadow: none;
    border: 3px solid rgba(3, 126, 243, 0.86);
    &:hover {
        border-bottom: 3px solid rgb(236, 134, 0);
        border-right: 3px solid rgb(236, 134, 0);
    }
    &:focus {
        color: white;
        outline: none;
        border-bottom: 3px solid rgb(178, 104, 238);
        border-right: 3px solid rgb(178, 104, 238);
    }

}
.button {
    padding: 8px 12px;
    background: #0A5175;
    display: block;
    width: 120px;
    margin: 10px 0 0px 0;
    border-radius: 1rem;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    text-align: center;
    font-size: 0.8em;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.10);
    -moz-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.10);
    -webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.10);
    &:hover {
        background: #8BC3A3;
        color: white;
    }
}

.textarea {
    height: 200px;
    max-height: 200px;
    max-width: 100%;
    resize: none;
}
/*fin de estilos de la parte de contacto*/
/*parte del responsice del header*/
@media screen and (max-width: 992px){
    #menu-toggle {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        position: flex;
    }
    nav.main-header {
        height: 75px;
    }
    ul.nav-honey {
        display: inline-block;
        width:100vw;
        height: auto;
        background: none;
        position: absolute;
        top: 65px !important;
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
        left: 0;
        overflow: hidden;
        list-style-type: disc;
        margin-block-start: 0 !important;
        margin-block-end: 0 !important;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        padding-inline-start: 0px;
        & li a {
            color: rgb(255, 255, 255);
        }
    }
    nav.main-header.navShadow {
        height: 65px;
    }
    ul.showMenu {
        margin-top: .9rem;
        & li {
            height: auto;
            opacity: 1;
            visibility: visible;
            
            padding-top: .3em;
            background: rgba(0, 0, 0, 0.9);
            &a{
                color: #fff;
            }
        }
    }
    .nav-honey li {
        width:100%;
        float: left;
        padding-left:0px;
        opacity: 0;
        visibility: hidden;
        margin-left: 0;
        -webkit-transition: all 0.3s 0.1s;
        transition: all 0.3s 0.1s;
    }
    .nav-honey li a{
        padding:0.5em 0;
        display: block;
        
    }
    #head-line {
        -webkit-transform: scale(0.8);
        transform: scale(0.8);
    }
    #brand {
        padding-left: 30px;
        float: left;
        width: 26%;
    }
    button.btn.login-btn {
        padding: 8px 20px;
        font-size: 0.8em;
        letter-spacing: 1px;
        margin-bottom: 1em;
    }
    
    
}




/* 
##Device = Most of the Smartphones Mobiles (Portrait)
##Screen = B/w 320px to 479px
*/
@media (min-width: 50px) {
    .study{
        // margin: 0 0 0 0 !important;
        // padding: 0 0 0 0 !important;
        
        padding-left: 0rem !important;
        padding-right: 0rem !important;
        margin-left: 0rem !important;
        margin-right: 0rem !important;
        
        
    }
    
    .img-principal{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        padding-top: 0;
        height: 100vh;
        // border: 2px solid green;
        
        position: relative;
        
        background: url(../img/lava-656827.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        
        -webkit-background-size: cover;           /* Safari 3.0 */
           -moz-background-size: cover;           /* Gecko 1.9.2 (Firefox 3.6) */
             -o-background-size: cover;           /* Opera 9.5 */
                background-size: cover;           /* Gecko 2.0 (Firefox 4.0) and other CSS3-compliant browsers */
       
        -moz-border-image: url(../img/lava-656827.jpg) 0;
        background-color: #000;
        // height: 50vw;
        
        z-index: -3;
        & .snow-information {
            text-align: center;
            padding: 35vh 10vw 40vh 10vw;
            color: #006cd1;
        }
    }
    .img-fluid{
        padding: 0
    }
    .cardJC{
        padding: 0px !important;
        // margin: -15px !important;
    }
}

@media (min-width: 320px) {

    .study-img-container{
        width: 80%;
        height: auto;
        & .study-img{
            width: 80%;
        }
    }
    .study{
        // margin: 0 0 0 0 !important;
        // padding: 0 0 0 0 !important;
        
        padding-left: 0rem !important;
        padding-right: 0rem !important;
        margin-left: 0rem !important;
        margin-right: 0rem !important;
        
        
    }

}
/* 
##Device = Low Resolution Tablets, Mobiles (Landscape)
##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) {
    // .img-principal{
    //     background: url(../img/mano-cel.jpg);
    // }
    .card-columns {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
        -webkit-column-gap: 1.25rem;
        -moz-column-gap: 1.25rem;
        column-gap: 1.25rem;
      }
    .card-columns .card {
    display: inline-block;
    width: 100%;
    }
    .study-img-container{
        width: 100%;
        height: auto;
        & .study-img{
            width: 60% !important;
        }
        
    }
    .img-principal{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        padding-top: 0;
        height: 100vh;
        // border: 2px solid green;
        
        position: relative;
        
        background: url(../img/neural.png);
        background-repeat: no-repeat;
        background-size: cover;
        
        -webkit-background-size: cover;           /* Safari 3.0 */
           -moz-background-size: cover;           /* Gecko 1.9.2 (Firefox 3.6) */
             -o-background-size: cover;           /* Opera 9.5 */
                background-size: cover;           /* Gecko 2.0 (Firefox 4.0) and other CSS3-compliant browsers */
       
        -moz-border-image: url(../img/neural.png) 0;
        background-color: #000;
        // height: 50vw;
        
        z-index: -3;
        & .snow-information {
            text-align: center;
            padding: 35vh 10vw 40vh 10vw;
            color: #dd0b0b;
        }
    }
}


/* 
##Device = Tablets, Ipads (portrait)
##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) {
    .card-columnsJC {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
        -webkit-column-gap: 1.25rem;
        -moz-column-gap: 1.25rem;
        column-gap: 1.25rem;
      }
      .card-columnsJC .cardJC {
        display: inline-block;
        width: 100%;
      }
        //   modificacion para pos columnas de bootstrap
        .study-img{
            width: 110%;
        height: auto;
    }
    .study{
        margin: 1rem 0 0 0 !important;
        padding: 1rem 0 0 0 !important;
        & .information{
            padding: 0rem 0 0 0 !important;
        }
        
    }   
    .img-principal{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        padding-top: 0;
        height: 100vh;
        // border: 2px solid green;
        
        position: relative;
        
        background: url(../img/web-portada.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        
        -webkit-background-size: cover;           /* Safari 3.0 */
           -moz-background-size: cover;           /* Gecko 1.9.2 (Firefox 3.6) */
             -o-background-size: cover;           /* Opera 9.5 */
                background-size: cover;           /* Gecko 2.0 (Firefox 4.0) and other CSS3-compliant browsers */
       
        -moz-border-image: url(../img/web-portada.jpg) 0;
        background-color: #000;
        // height: 50vw;
        
        z-index: -3;
        & .snow-information {
            text-align: center;
            padding: 35vh 10vw 40vh 10vw;
        }   
    }
    .study-img-container{
        width: 100%;
        height: auto;
        margin-top: 3%;
        
        & .study-img{
            
            width: 80% !important;
        }
        
        
            
    }
    .cardJC{
        // padding:  !important;
        margin: -1% 0% -1% 0% !important;
    }
    .contact-title{
        font-size: 15rem;
        padding-top: 35%;
        & h3{
            padding-top: 10px;
            font-size: 2.5rem;
        }
    }
    .contact-items{
        font-size: 1.5rem;
    }
}


/* 
##Device = Laptops, Desktops
##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) {

    .card-columns {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
        -webkit-column-gap: 1.25rem;
        -moz-column-gap: 1.25rem;
        column-gap: 1.25rem;
      }
      .card-columns .card {
        display: inline-block;
        width: 100%;
      }
    //   .study-img{
    //     width: 600px !important;
    // }
    .study{
        margin: 1rem 0 0 0 !important;
        padding: 1rem 0 0 0 !important;
        & .information{
            padding: 1rem 0 0 0 !important;
        }
        
    }  
    .study-img-container{
        width: 100%;
        height: auto;
        margin-bottom: 10%
    }
    
}

/* 
##Device = Desktops
##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {

    // .study-img{
    //     width: 800px !important;
    // }
    .study{
        margin: 1rem 0 0 0 !important;
        padding: 1rem 0 0 0 !important;
        & .information{
            padding: 3rem 0 0 0 !important;
        }
        
    }
}

